@font-face {
  font-family: futura;
  src: url('font/Futura Bold Italic font.ttf') format('truetype');
}

body {
  font-family: 'futura', Fallback, sans-serif;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 58%;
}